.svg_first{
    overflow: scroll;
    width: 1200px;
    height: 800px;
}

.btn {
    width: 70px;
    position: absolute;
    left: 10px;
    margin: auto 0;
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    margin: 5px;
}
#legend{
    position: absolute;
    left: 900px;
    top: 1380px;
    text-align: left;
}
.svg_legend{
    width: 10px;
    height: 10px;
}
.circle_legend{
    cx:5px;
    cy:5px;
    r:5px
}
.avg{
    position: absolute;
    left: 10px;
    top: 1380px;
}

.vis_delimiter {
    position: relative;
    width: 100%;
    float:left; /* add this */
    border: 1px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: gray;
    color:#f8f8f5;
}

#form_bottom{
    background-color: gray;
    text-align: left;
    padding-left: 5px;
    padding-right: 1px;
}
#btn_choose_usr{
    height: 24px;
    width: 100px;
    margin: 1px;
    margin-left: 50px;
    color: white;
    border: none;
    background-color: #ff9200;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
}
#btn_choose_usr:hover {
    background: #f46500;
}

.node{
    cursor: pointer;
}

.node2 {
    cursor: pointer;
}

.node2:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node2--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node2--root,
.node2--leaf {
    pointer-events: none;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}